/upload
/bitrix
robots.txt
sitemap*.xml
.htaccess
.htpasswd
*.log
*.tgz.*
*.tar.*
*.gz
*.zip
Thumbs.db
*.sql
*.csv
.gitignore
restore.php
.htaccess.restore
/local/php_interface/include/.config.php
*.xml
*.pdf
*.txt
*.backup
/test
test.php
urlrewrite.php
.htsecure
*.config
*.htaccess*
/testtilda-php
google*.html
yandex*.html